src/main/mule/cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8c40e96c-50a2-46cc-950e-5cabab1c564e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicdFlow" doc:id="b2d35adf-3a31-4341-9cc2-131e7d274f00" >
		<http:listener doc:name="Listener" doc:id="a7f2cd5a-9959-441b-8b53-05e09600a402" config-ref="HTTP_Listener_config" path="cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="2d34d6c4-6de4-498f-9015-5d3e86a221f5" message="#[payload]"/>
		<set-payload value="set the CICD payload" doc:name="Set Payload" doc:id="7017d45b-7957-4966-9566-de65148ff324" />
		<logger level="INFO" doc:name="Logger" doc:id="15ac5aa4-3f96-40fb-acae-6c0d2a199f18" message="Testing Purpose"/>
	</flow>
</mule>
